@using System.Threading.Tasks
@using MeasureThat.Net.Models
@model MeasureThat.Net.Models.BenchmarkDto

@{
    bool hasHtmlPreparationCode = !string.IsNullOrWhiteSpace(Model.HtmlPreparationCode);
    bool hasScriptPreparationCode = !string.IsNullOrWhiteSpace(Model.ScriptPreparationCode);
    string messageHtml = !hasHtmlPreparationCode ? "<Not specified>" : string.Empty;
    string messageScript = !hasScriptPreparationCode ? "<Not specified>" : string.Empty;
}
<div class="panel panel-default">

        <div class="panel-heading"><b>Latest run results:</b> @messageHtml</div>

        <div class="panel-body">
            @await Component.InvokeAsync("LatestBenchmarkResult", new { benchmarkId = Model.Id })
        </div>
    </div>  
@if (hasHtmlPreparationCode)
{
    <div class="panel panel-default">

        <div class="panel-heading"><b>HTML Preparation code:</b> @messageHtml</div>

        <div class="panel-body">
            <textarea class="form-control" readonly data-code="html">@Model.HtmlPreparationCode</textarea>
        </div>
    </div>    
}
@if (hasScriptPreparationCode)
{
    <div class="panel panel-default">
        <div class="panel-heading"><b>Script Preparation code: </b> @messageScript</div>
        <div class="panel-body">
            <textarea class="form-control auto-height" readonly data-code="javascript">@Model.ScriptPreparationCode</textarea>
        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading">Tests:</div>

    <ul class="list-group">
        @foreach (var test in Model.TestCases)
        {
            <li class="list-group-item">
                <h4>@test.TestCaseName</h4>
                <textarea class="form-control" readonly data-code="javascript">@test.BenchmarkCode</textarea>
            </li>
        }
    </ul>
</div>
<div class="panel panel-default">

        <div class="panel-heading"><b>Rendered benchmark preparation results:</b> @messageHtml</div>

        <iframe id="test-runner-iframe" src="@Url.Action("TestFrame", "Benchmarks", new { id = Model.Id}, Url.ActionContext.HttpContext.Request.Scheme)" style="border:none; max-height: 900px; min-height: px; overflow:scroll"></iframe>
    </div>    
