@using System.Threading.Tasks
@using Humanizer
@using MeasureThat.Net.Logic.Web
@model System.Collections.Generic.IEnumerable<MeasureThat.Net.Models.BenchmarkDto>

@{
    ViewBag.Title = "Latest benchmarks";
}

<div class="page-header">
    <h2>
        Latest benchmarks
    </h2>
</div>


<div class="row">
    <ul>
        @foreach (var b in Model)
        {
            <li>
                <h4><a asp-action="Show" asp-route-id="@b.Id" asp-route-version="@b.Version" asp-route-name="@SeoFriendlyStringConverter.Convert(b.BenchmarkName)">@b.BenchmarkName</a>(<small>@b.WhenCreated.Humanize()</small>)</h4>
            </li>
        }
    </ul>
</div>
<p>
    @{ await Html.RenderPartialAsync("_SharedCreateBenchmark"); }
    <a asp-controller="Benchmarks" asp-action="My" class="btn btn-default btn-lg">Your benchmarks</a>
</p>
