@using Humanizer
@model Tuple<IList<MeasureThat.Net.Models.BenchmarkResultDto>, int>

@{
    ViewBag.Title = "Listing latest benchmark results";
}

<div class="page-header">
    <h1>Listing latest benchmark results</h1>
</div>

@if (Model.Item1.Any())
{
    <table class="table table-striped" data-test-id="results-list">
        <thead>
            <tr>
                <th>Browser</th>
                <th>OS</th>
                <th>User Agent</th>
                <th>When Created</th>
            </tr>
        </thead>
        @foreach (var b in Model.Item1)
        {
            <tr>
                <td>@b.Browser</td>
                <td>@b.OS</td>
                <td>
                    <a asp-action="ShowResult" asp-route-id="@b.Id">@b.RawUserAgenString</a>
                </td>
                <td>@b.WhenCreated.Humanize()</td>
            </tr>
        }
    </table>

}
else
{
    <h2>Nothing here. How about running the benchmark?</h2>
    <a class="btn btn-default" asp-action="Show" asp-route-id="@Model.Item2">Open the benchmark</a>
}