@using System.Threading.Tasks
@using Humanizer
@using MeasureThat.Net.Controllers
@using MeasureThat.Net.Logic.Web
@using MeasureThat.Net.Models
@using Microsoft.AspNetCore.Identity
@model Pager<BenchmarkDto>

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Your benchmarks";
}

<div class="page-header">
    <h1>Your benchmarks</h1>
</div>

@if (Model.ItemCount > 0)
{
    <div id="benchmark-list">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Benchmark name</th>
                <th>Description</th>
                <th>When Created</th>
                <th>Actions</th>
            </tr>
            </thead>
            @foreach (var b in Model.Entites)
            {
                <tr>
                    <td>
                        <a asp-action="Show" asp-route-id="@b.Id" asp-route-version="@b.Version" asp-route-name="@SeoFriendlyStringConverter.Convert(b.BenchmarkName)">@b.BenchmarkName</a>
                    </td>
                    <td>@b.Description</td>
                    <td>@b.WhenCreated.Humanize()</td>
                    <td>
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@b.Id">Edit</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <!-- pager -->
    if (Model.NumOfPages > 1)
    {

        <ul class="pagination">
            @for (var page = 0; page < Model.NumOfPages; page++)
            {
                <li class="@(page == 0 ? "active" : "")">
                    <a asp-action="My" asp-route-page="@page">@(page+1)</a>
                </li>
            }
        </ul>
    }
}
else
{
    <h3>You don't have any benchmarks yet.</h3>
}

<div>
@{ await Html.RenderPartialAsync("_SharedCreateBenchmark"); }
</div>