@using Humanizer
@using System.Threading.Tasks
@using MeasureThat.Net.Logic.Web
@model IEnumerable<MeasureThat.Net.Models.BenchmarkDto>

@{
    Layout = null;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Benchmark name</th>
            <th>Description</th>
            <th>When Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var b in Model)
            {
        <tr>
            <td>
                <a asp-action="Show" asp-route-id="@b.Id" asp-route-version="@b.Version" asp-route-name="@SeoFriendlyStringConverter.Convert(b.BenchmarkName)">@b.BenchmarkName</a>
            </td>
            <td>@b.Description</td>
            <td>@b.WhenCreated.Humanize()</td>
            <td>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@b.Id">Edit</a>
                <a class="btn btn-default" asp-action="Fork" asp-route-id="@b.Id">Fork</a>
            </td>
        </tr>
    }
</table>
