@using BenchmarkLab.Models
@model PublishResultsModel

<h1>Results</h1>
@Model.BenchmarkId
<br>

@Model.UserId
<br>

@Model.DevicePlatform
<br>

@Model.Browser
<br>

@Model.RawUserAgenString
<br>

@Model.OS
<br>

@Model.ResultRows.Count

<br>
Published result id: @Model.Id