@model MeasureThat.Net.Models.BenchmarkResultDto

<div class="panel panel-default">
    <div class="panel-heading"><b>Results were published to the server.</b></div>
    <div class="panel-body">
        <div class="form-group">
            <a asp-action="ShowResult" asp-route-id="@Model.Id" target="_blank" class="btn btn-default">View result in another tab</a>
        </div>
        <div class="form-group">
            @Html.Label("Browser:")
            <span>@Model.RawUserAgenString</span>
        </div>
        <div class="form-group">
            @Html.Label("Result URL:")
            <input type="text" class="form-control" value="@Url.Action("ShowResult", "Benchmarks", new {id = Model.Id}, this.Context.Request.Scheme)" onfocus="this.select();" onmouseup="return false;" />
        </div>
    </div>
</div>