@using Humanizer
@using MeasureThat.Net.Logic.Web
@model MeasureThat.Net.Models.ShowResultModel
@using MeasureThat.Net.Models
@inject StaticSiteConfigProvider staticConfig
@{
Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Benchmark Run Result for: @Model.Benchmark.BenchmarkName</title>
    @await Html.PartialAsync("_SharedCoreJS")
    @{await Html.RenderPartialAsync("_CodeMirrorStyles");}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/benchmarklab.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_SharedStyles")
    @{await Html.RenderPartialAsync("_CodeMirrorScripts");}
</head>

<body style="padding-top: 0">
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <h4>@Model.Benchmark.BenchmarkName</h4>
                <h5>@Model.Benchmark.Description</h5>
                <h5>
                    @Html.Label("Date tested:")
                    <span>@Model.ResultModel.WhenCreated.Humanize()</span>
                </h5>
                <h5>
                    User agent:
                    <span>@Model.ResultModel.RawUserAgenString</span>
                </h5>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Test name</th>
                        <th>Executions per second</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.ResultModel.ResultRows)
                    {
                    <tr>
                        <th scope="row">@row.TestName</th>
                        <td>@row.ExecutionsPerSecond.ToString("F1") Ops/sec</td>
                    </tr>
                    }
                </tbody>
            </table>

            <div id="chart_div" style="width: 90%; height: 35%;"></div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Benchmark definition (click to collapse):
                        </a>
                    </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @await Html.PartialAsync("_ShowBenchmark", Model.Benchmark)
                    </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-default" target="_blank" asp-controller="Benchmarks" asp-action="ShowResult" asp-route-id=@Model.ResultModel.Id>Open this result on MeasureThat.net</a>
        </div>
    </div>

    @{await Html.RenderPartialAsync("_SharedInitBenchmarkEditorsAndDrawChart", Model.ResultModel);}

    <environment names="Staging,Production">
    @{
        GoogleAnalyticsConfig gaconfig = staticConfig.GetGoogleAnalyticsConfig();
        if (gaconfig != null && gaconfig.Enabled)
        {
            @await Html.PartialAsync("_GoogleAnalytics", gaconfig);
        }
    }
    </environment>
</body>

</html>